*
!.gitignore
!main.js
!package.json
!queries.sql
!README.md
!template.js
!bot_modules/
bot_modules/*

!bot_modules/wl
bot_modules/wl/*
!bot_modules/wl/wl.js

!bot_modules/tt
bot_modules/tt/*
!bot_modules/tt/tt.js

!bot_modules/scholastic
bot_modules/scholastic/*
!bot_modules/scholastic/scholastic.js

!bot_modules/modulemanager
bot_modules/modulemanager/*
!bot_modules/modulemanager/modulemanager.js

!bot_modules/chat
bot_modules/chat/*
!bot_modules/chat/chat.js

!bot_modules/auth
bot_modules/auth/*
!bot_modules/auth/auth.js

!config/
config/*
!logs/
logs/*
!node_modules/
node_modules/*
